@import "reset.css";

.App {
    text-align: center;
    background-color: #ECEFF4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.title {
    padding-bottom: 1em;
}

.user {
    text-align: left;
    width: 300px;
    height: 110px;
    background-color: white;
    border-radius: 1em;
    margin-bottom: 1em;
}

.user-profile {
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 70%;
    width: 4em;
    float: left;
    margin-right: 0.7em;
}

header {
    text-align: left;
    margin-top: 5em;
}

.user-name {
    font-size: 1em;
    padding-top: 1em;
    padding-left: 1em;
}

@media all and (min-width: 960px) {
    .App {
        text-align: center;
        background-color: #ECEFF4;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: black;
    }

    .title {
        padding-bottom: 1em;
    }

    .user {
        text-align: left;
        width: 800px;
        height: 200px;
        background-color: white;
        border-radius: 1em;
        margin-bottom: 1em;
    }

    .user-profile {
        margin-left: 1em;
        margin-top: 1em;
        border-radius: 70%;
        width: 4em;
        float: left;
        margin-right: 0.7em;
    }

    header {
        text-align: left;
        margin-top: 5em;
    }

    .user-name {
        font-size: 1em;
        padding-top: 1em;
        padding-left: 1em;
    }
}